<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack page</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
	<link rel="manifest" href="/fav/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	{{!-- <link href='css/normalize.css' rel='stylesheet' /> --}}
	<link href='css/slack.css' rel='stylesheet' />
</head>
<body>
    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">
                
                <div class="hero">
                    <div class="hero_content">
                        <span class="hero_label">Slack Features</span>
                        <h1 class="hero_title">One platform for your team and your work</h1>
                        <p class="hero_info double_line">All the features of Slack work together you can, too.</p>
                        <div class="hero_buttons">
                            <a href="#" class="button button_primary click">Try for free</a>
                            <a href="#" class="button button_secondary click">See all features</a>
                        </div>
                        <img src="/img/hero.png" alt="Hero" class="hero_image">
                    </div>                    
                </div>
                
                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb" class="brands_image">
                    <img src="/img/brands/intuit.png" alt="intuit" class="brands_image">
                    <img src="/img/brands/newscorp.png" alt="newscorp" class="brands_image">
                    <img src="/img/brands/onemedical.png" alt="onemedical" class="brands_image">
                    <img src="/img/brands/sonos.png" alt="sonos" class="brands_image">
                    <img src="/img/brands/target.png" alt="target" class="brands_image">
                    <img src="/img/brands/uber.png" alt="uber" class="brands_image">
                    <img src="/img/brands/va.png" alt="va" class="brands_image">                    
                </div>

            </div>
        </section>

        <section class="page_section page_section_light">            
            <div class="page_content features_section">                
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="features_description double_line">Stay on the same page and make decisions by bringing all of your work communication into one place.</p>

                <div class="features_grid_4">
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
                        <strong>Slack Connect</strong>
                        <p class="double_line">Collaborate with teams at other companies the same way you do with teams at your own.</p>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
    
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/channels.svg')"></span>
                        <div class="feat_card_title">Channels</div>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
    
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/huddles.svg')"></span>
                        <div class="feat_card_title">Huddles</div>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
    
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg')"></span>
                        <div class="feat_card_title">Clips</div>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
    
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/canvas.svg')"></span>
                        <div class="feat_card_title">Canvas</div>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
    
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/messaging.svg')"></span>
                        <div class="feat_card_title">Messaging</div>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
                    
                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/accessibility.svg')"></span>
                        <div class="feat_card_title">Accessibility</div>
                        <a href="#" class="icon icon_arrow click feat_link "></a>
                    </div>
                </div>
            </div>
        </section>

            {{!-- Home work --}}
        <section class="hw_feature">
            <div class="hw_content">                
                <div class="hw_section">
                    <h2 class="hw_title">What you need, when you need it</h2>
                    <p class="hw_description">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
                </div>            

                <div class="hw_card_section">
                    <div class="hw_card">
                        <span class="hw_icon" style="background-image: url('/svg/feature/puzzle.svg');"></span>
                        <strong class="hw_card_title">Apps and Integrations</strong>
                        <p class="hw_description">Streamline work by connecting<br>Slack with other services like<br>Google Drive, Office 365 and over 2,200 more.</p>
                        <a href="#" class="hw_arrow "></a>
                    </div>
    
                    <div class="hw_card">
                        <span class="hw_icon" style="background-image: url('/svg/feature/flash.svg');"></span>
                        <strong class="hw_card_title">Workflow Builder</strong>
                        <p class="hw_description">Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                        <a href="#" class="hw_arrow "></a>
                    </div>

                    <div class="hw_card">
                        <span class="hw_icon" style="background-image: url('/svg/feature/search.svg');"></span>
                        <div class="hw_card_title">Search</div>
                        <a href="#" class="hw_arrow "></a>
                    </div>

                    <div class="hw_card">
                        <span class="hw_icon" style="background-image: url('/svg/feature/sharing.svg');"></span>
                        <div class="hw_card_title">File sharing</div>
                        <a href="#" class="hw_arrow"></a>
                    </div>
                </div>

            </div>
        </section>

        <section class="hw_info">
            <div class="hw_info_description">
                <img src="/img/img_deliveroo.png" alt="" class="hw_img_deliveroo">
                <div class="опис_лого_сео"> {{!-- перевірив чи можна писати класи нашою мовою --}}
                    <blockquote class="hw_info_text">“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.”</blockquote>
                    <img src="/img/logo_deliveroo.png" alt="deliveroo" class="hw_logo_deliveroo">
                    <span>Will Sprunt, CIO, Deliveroo</span>
                </div>
            </div>
        </section>

    <section class="hw_slack">
        <h2>Explore more about working in Slack</h2>
        <div class="hw_info_card">  
            
            <div class="hw_card_slack">
                    <span><img src="/img/slack_101.png" alt="101"></span>
                    <div class="hw_card_slack_text">
                        <span>Slack Tutorials</span>
                        <h2>Slack 101</h2>
                        <a href="#" class="hw_card_slack_button">Learn more</a>                          
                    </div>                                      
            </div>

            <div class="hw_card_slack">
                    <span><img src="/img/slack_email.png" alt="email"></span>         
                    <div class="hw_card_slack_text">
                        <span>Slack vs. Email</span>
                        <h2>An easier, more organized way to work</h2>
                        <a href="#" class="hw_card_slack_button">Learn more</a> 
                    </div>                   
            </div>

            <div class="hw_card_slack">
                    <span><img src="/img/customers.png" alt="customers"></span>         
                    <div class="hw_card_slack_text">
                        <span>Customer Stories</span>
                        <h2>How Fastly uses Slack Connect to wow enterprise customers</h2>
                        <a href="#" class="hw_card_slack_button">Learn more</a>
                    </div>
            </div>
        </div>
    </section>
    </div>    
</body>
</html>