@layer component, variant, main, adaptive;

@font-face {
    font-family: "HelveticaNeueBold";
    src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
    .page_section {
        display: flex;
        justify-content: center;
    }

    .button {
        text-decoration: none;
        color: var(--color-black);
        padding: var(--spacing-3);
        border-radius: var(--radius-1);
        text-align: center;
        border: 1px solid transparent;
        
    }
    .click {
        transition: opacity var(--transition-1);
    }

    .click:hover {
        opacity: var(--opacity-1);
        cursor: pointer;
    }

    .click:active {
        opacity: var(--opacity-2);
        cursor: pointer;
    }

    .icon {
        display: block;        
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .double_line{ 
        line-height: var(--line-height);
    }
}

@layer variant {
    .button_primary {
        color: var(--color-white);
        background-color: var(--color-primary);
    }

    .button_secondary {
        color: var(--color-primary);
        border-color: var(--color-primary);
        border-width: 2px;
    }

    .page_section_light {
        background-color: var(--color-light);
    }

    .feat_icon {
        width: 48px;
        height: 48px;
    }

    .icon_arrow {
        height: 14px;
        width: 25px;
        background-image: url('/svg/arrow-right.svg');
    }
}

body {
    font-family: 'HelveticaNeueBold', sans-serif;
    background-color: var(--color-white);
    margin: 0;
}

:root {
    /*колірна гамма*/
    --color-white: white;
    --color-black: black;
    --color-primary: #661f69;
    --color-light: #f4ede4;


    /*ширина екрану*/
    --page-width-big: 1260px;
    --page-width-medium: 1000px;
    --page-width-small: 700px;

    /*відступи*/
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 20px;
    --spacing-5: 24px;
    --spacing-6: 28px;
    --spacing-7: 32px;
    --spacing-8: 36px;

    /*розмір шрифту*/
    --size-1: 14px;
    --size-2: 18px;
    --size-3: 22px;
    --size-4: 26px;
    --size-5: 30px;
    --size-6: 34px;

    /*заокруглення*/
    --radius-1: 4px;

    --opacity-1: 0.7;
    --opacity-2: 0.3;

    --transition-1: 0.7s;

    --line-height: 1.5em
}

@layer main {
.page {
    display: grid;
}

.page_content {
    width: 100%;
    padding: var(--spacing-3);
}


.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    min-height: 600px;
}

.hero {
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 50px;
}

.hero_content {
    position: relative;
    display: grid;
    gap: var(--spacing-5);
    max-width: 425px;
    color: var(--color-black);
}

.brands {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
}

.hero_image {
    position: absolute;
    left: 580px;
    top: calc(50% - 436px / 2);
}

.hero_label {
    font-size: var(--size-1);
}

.hero_title {
    font-size: 50px;
}

.hero_info {
    font-size: var(--size-2);
}

.hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5)
}

.features_section {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    gap: var(--spacing-5);
    background-image:  url('/img/features.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.features_title {
    font-size: var(--size-6);
}

.features_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
}

.feat_card {
    padding: var(--spacing-3);
    background-color: var(--color-white);
    gap: var(--spacing-3);
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    font-size: var(--size-2);
    
}

.feat_link {
    justify-self: flex-end;
}

.features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-3);
}

.features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;
}
}

@layer adaptive {
    @media all and (1260px <= width) {
        .page_content {
            max-width: var(--page-width-big);
        }
    }
    
    @media all and (1000px <= width < 1260px) {
        .page_content {
            max-width: var(--page-width-medium);
        }
    
        .hero_image {
            left: 518px;
            height: 300px;
        }
    }
    
    @media all and (width < 1000px) {
        .page_content {
            max-width: var(--page-width-small);
        }
        .hero_image {
            position: static;
            width: 100%;
            order: -1;
        }
        .hero_content {
            max-width: 100%;
        }
        .features_grid_4 {
            grid-template-columns: repeat(3, 1fr);
        }
        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;
        }
        .features_section {
            background: none;
        }
    }

    @media all and (width < 600px) {
        .features_grid_4 {
            grid-template-columns: 2fr, 2fr;
        }
    }
    @media all and (width < 400px) {
        .features_grid_4 {
            grid-template-columns: 1fr;
        }
        .hero_buttons {
            grid-template-columns: 1fr;
            gap: var(--spacing-2);
        }
    }
}  


/* home work */

.hw_feature {    
    display: grid;
    background-color: var(--color-light);    
    justify-content: center;  
}

.hw_content {    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;;
    flex-wrap: wrap;
    width: 1260px;    
    background-image: url('/img/what.png');
    background-repeat: no-repeat;
    padding-bottom: 150px;    
}

.hw_section {
    display: grid;
    gap: var(--spacing-3);
    max-width: 600px;
    padding-bottom: var(--spacing-5);
}

.hw_title {     
    font-size: var(--size-6);
}

.hw_description {        
    font-size: var(--size-2);    
}

.hw_card {    
    background-color: var(--color-white);
    padding: var(--spacing-3);
    display: flex;
    flex-direction: column;
}

.hw_card_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;  
}

.hw_card_section > .hw_card:nth-of-type(1) {
        grid-row: 1 / 3;
        width: 268px;
        height: 250px; 
}

.hw_card_section > .hw_card:nth-of-type(2) {
        grid-row: 1 / 3;
        width: 268px;
        height: 250px;        
}

.hw_icon {
    display: block;
    background-repeat: no-repeat;
    background-position: top left;
    width: 48px;
    height: 48px;
    padding: 6px;    
}

.hw_card_title {
    font-size: var(--size-2);    
}

.hw_arrow {
    display: block;
    transform: translateX(240px);
    height: 14px;
    width: 25px;
    background-image: url('/svg/arrow-right.svg');        
}

.hw_info {
    display: grid;
    justify-content: center;
    background-color: var(--color-white);
}

.hw_info_description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1260px;
    padding: 150px 0px;
    grid-gap: var(--spacing-8);
}

.опис_лого_сео {
    display: flex;    
    flex-direction: column;
    gap: var(--spacing-5);
}

.hw_info_text {
    font-size: var(--size-4);
    margin: 0px;
}

.hw_img_deliveroo {
    width: min-content;
    height: min-content;    
}

.hw_logo_deliveroo {
    width: min-content;
    height: min-content;
}


.hw_info_card {
    display: flex;
    gap: 75px;
}

.hw_card_slack {
    width: 285px;
    height: 420px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.hw_slack {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-bottom: 150px;
}

.hw_card_slack_text {
    display: flex;
    flex-direction: column;
    padding-left: var(--spacing-2);
    position: relative;
    height: 200px;
}

.hw_card_slack_button {
    display: flex;    
    position: absolute;
    bottom: 8px;
    left: 15px;
    align-items: center;
    width: max-content;
}

.hw_card_slack_button::after {
    content: '';
    background-image: url('/svg/arrow-right.svg');
    background-repeat: no-repeat;    
    margin-left: 155px;
    width: 24px;
    height: 14px;
    display: block;
}