{{#each articles}}
<div class="card_body">
	<div class="card_image" style="background-image: url({{photo}});"></div>
	<h2 class="card_title">{{name}}</h2>
	<p class="card_text">{{description}}</p>
	<a href="#" class="card_button">Read All</a>
</div>
{{/each}}